.footer{
  height: 200px;
  background: var(--white);
  grid-area: footer;
}
.footer__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer_grey-bg{
  background-color: var(--grey-5);
}
.footer__title{

  font-family: 'Inter' ,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--grey-3);
}



